<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PHP.Properties.Settings.PHPdbConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PHPdb.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PHP.Properties.Settings.PHPdb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PHPdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PHP.Properties.Settings.D__PROJECTS_SALESPOINT_PHPDB_MDFConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=D:\PROJECTS\SALESPOINT\PHPDB.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>